node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
build
dist
__tests__
.jest
coverage
.DS_Store
*.log
.vscode
.idea
.env.example
.env.development
.env.production
README.md
.mongodb
cache
artifacts
